name: CI Check
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  pre-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Lint Code
        run: | 
          echo "Linting code..."
          npm run lint

      - name: Check Types
        run: |
          echo "Checking types..."
          npm run type-check

      - name: Run Tests
        run: |
          echo "Running tests..."
          npm run test


